.section-content {
  display: flex;
}

#left-section-aside {
  background: lightgrey;
  display: flex;
  flex-direction: column;
  order: 1;
  min-height: 100vh;
}

#right-section-aside {
  display: flex;
  flex-direction: column;
  order: 2;
  width: stretch;
  min-height: 100vh;
}

#title {
  margin-top: 60px;
  font-size: 40px;
}
#title, #rooms {
  margin-left: 40px;
}

#room-form {
  margin-top: 60px;
}

#room-label, #room-input, #submit-btn {
  margin-top: 10px;
}

#rooms > div > p {
  display: table;
}

#rooms > div > p:hover {
  display: table;
  cursor: pointer;
  font-weight: bold;
  text-decoration: underline;
}

.messages > p, .messages > h1 {
  margin-left: 15px;
  margin-right: 15px;
}
