.section-content {
  display: flex;
}

#left-section-aside {
  background: lightgrey;
  display: flex;
  flex-direction: column;
  order: 1;
  min-height: 100vh;
}

#right-section-aside {
  display: flex;
  flex-direction: column;
  order: 2;
  width: stretch;
  min-height: 100vh;
}

#title {
  margin-top: 60px;
  font-size: 40px;
}
#title, #rooms, #btn-div {
  margin-left: 40px;
}

#room-form, #btn-div {
  margin-top: 60px;
}

#room-label, #room-input, #submit-btn {
  margin-top: 10px;
}

#rooms > p {
  text-decoration: underline;
}

#rooms > div > p, #btn-div {
  display: table;
}

#rooms > div > p:hover {
  display: table;
  cursor: pointer;
  font-weight: bold;
  text-decoration: underline;
}

.room-title > h1 {
  margin-top: 80px;
}

.room-title > h1, #messages {
  margin-left: 25px;
  margin-right: 25px;
  padding-left: 25px;
}

span {
  font-size: 5px;
}

#sign-in {
  width: 70px;
}
