
aside {
  background: lightgrey;
  display: flex;
  flex-direction: column;
  order: 1;
  width: 300px;
  min-height: 100vh;
}

#title {
  margin-top: 60px;
  font-size: 40px;
}
#title, #rooms {
  margin-left: 40px;
}
